<ion-view view-title="Account" align-title="left">
    <ion-content class="padding">
    	<div class="login-wrapper">
            <div class="login-form">
                <h1 class="text-center screen-title">Account</h1>
    		</div>
    	</div>
    	<div class="account-detail text-center" ng-init="getProfile()">
    		<img src="{{media}}/staff_profile_images/{{profile.staffid}}/thumb_{{profile.profile_image}}" class="img img-responsive staff-profile-image-thumb" alt="{{profile.firstname}} {{profile.lastname}}">
	    	<h3>First Name: <span>{{profile.firstname}}</span></h3>
	    	<h3>Last Name: <span>{{profile.lastname}}</span></h3>
	    	<h3>Email: <span>{{profile.email}}</span></h3>
	    	<h3>Phone: <span>{{profile.phonenumber}}</span></h3>
    	</div>
    </ion-content>
</ion-view>