<ion-view view-title="Account" align-title="left">
    <ion-content class="padding">
    	<div class="login-wrapper">
            <div class="login-form">
                <h1 class="text-center screen-title">Account</h1>
    		</div>
    	</div>
    	<div class="account-detail text-center">
    		<img src="http://www.sirinetwork.it/isolaCRM/uploads/staff_profile_images/14/thumb_Photo.jpg" class="img img-responsive staff-profile-image-thumb" alt="David  Fanfano">
	    	<h3>First Name: <span>David</span></h3>
	    	<h3>Last Name: <span>Fanfano</span></h3>
	    	<h3>Email: <span>david.fanfano@gmail.com</span></h3>
	    	<h3>Phone: <span>3402284619</span></h3>
    	</div>
    </ion-content>
</ion-view>