<ion-view view-title="Home" align-title="left">
    <ion-content scroll="false">
    	<ion-tabs class="tabs-icon-only tabs-stable main-tabs">
	        <ion-tab title="Calander" icon="ion-ios-list-outline" ui-sref="home.task">
	            <ion-nav-view name="task"></ion-nav-view>
	        </ion-tab>
	        <ion-tab title="Notification" icon="ion-ios-bell" ui-sref="home.notification">
	            <ion-nav-view name="notification"></ion-nav-view>
	        </ion-tab>
	        <ion-tab title="Account" icon="ion-person" ui-sref="home.account">
	            <ion-nav-view name="account"></ion-nav-view>
	        </ion-tab>
	    </ion-tabs>
    </ion-content>
</ion-view>