<ion-view view-title="Account" align-title="left">
    <ion-content class="padding has-tabs-bottom">
        <!-- <ion-scroll overflow-scroll="false"> -->
        	<div class="login-wrapper">
                <div class="login-form">
                    <h1 class="text-center screen-title">Task</h1>
        		</div>
        	</div>
            <div class = "list list-inset">
                <div class = "item row task-list" ng-click = "openModal()">
                    <div class="checkbox-light col-20">
                        <label class = "checkbox small">
                            <input type = "checkbox" readonly="" onClick="return false;">
                        </label>
                    </div>
                    <div class="col">
                        <span class="task-label">High</span>
                        <h3>Città della Pieve</h3>
                        <span class="task-label">25/02/2019 00:00:00</span>
                    </div>
                </div>
                <div class = "item row task-list">
                    <div class="checkbox-positive col-20">
                        <label class = "checkbox small">
                            <input type = "checkbox" readonly="" onClick="return false;">
                        </label>
                    </div>
                    <div class="col">
                        <span class="task-label">High</span>
                        <h3>Città della Pieve</h3>
                        <span class="task-label">25/02/2019 00:00:00</span>
                    </div>
                </div>
                <div class = "item row task-list">
                    <div class="checkbox-balanced col-20">
                        <label class = "checkbox small">
                            <input type = "checkbox" readonly="" onClick="return false;">
                        </label>
                    </div>
                    <div class="col">
                        <span class="task-label">High</span>
                        <h3>Città della Pieve</h3>
                        <span class="task-label">25/02/2019 00:00:00</span>
                    </div>
                </div>
                <div class = "item row task-list">
                    <div class="checkbox-balanced col-20">
                        <label class = "checkbox small">
                            <input type = "checkbox" readonly="" onClick="return false;">
                        </label>
                    </div>
                    <div class="col">
                        <span class="task-label">High</span>
                        <h3>Città della Pieve</h3>
                        <span class="task-label">25/02/2019 00:00:00</span>
                    </div>
                </div>
                <div class = "item row task-list">
                    <div class="checkbox-balanced col-20">
                        <label class = "checkbox small">
                            <input type = "checkbox" readonly="" onClick="return false;">
                        </label>
                    </div>
                    <div class="col">
                        <span class="task-label">High</span>
                        <h3>Città della Pieve</h3>
                        <span class="task-label">25/02/2019 00:00:00</span>
                    </div>
                </div>
                <div class = "item row task-list">
                    <div class="checkbox-balanced col-20">
                        <label class = "checkbox small">
                            <input type = "checkbox" readonly="" onClick="return false;">
                        </label>
                    </div>
                    <div class="col">
                        <span class="task-label">High</span>
                        <h3>Città della Pieve</h3>
                        <span class="task-label">25/02/2019 00:00:00</span>
                    </div>
                </div>
                <div class = "item row task-list">
                    <div class="checkbox-balanced col-20">
                        <label class = "checkbox small">
                            <input type = "checkbox" readonly="" onClick="return false;">
                        </label>
                    </div>
                    <div class="col">
                        <span class="task-label">High</span>
                        <h3>Città della Pieve</h3>
                        <span class="task-label">25/02/2019 00:00:00</span>
                    </div>
                </div>
                <div class = "item row task-list">
                    <div class="checkbox-balanced col-20">
                        <label class = "checkbox small">
                            <input type = "checkbox" readonly="" onClick="return false;">
                        </label>
                    </div>
                    <div class="col">
                        <span class="task-label">High</span>
                        <h3>Città della Pieve</h3>
                        <span class="task-label">25/02/2019 00:00:00</span>
                    </div>
                </div>

            </div>
        <!-- </ion-scroll> -->
    </ion-content>
</ion-view>