<ion-view view-title="Login" align-title="left">
    <ion-content scroll="false">

        <div class="login-wrapper full-screen">
            <div class="login-form full-width padding">
                <h1 class="text-center">Login</h1>
                <div class="login-box full-width">
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="email" name="email" ng-model="loginform.email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="loginform.password">
                    </div>
                    <div class="form-group">
                         {{loginform}}
                        <button class="btn btn-submit" ng-click="loginsubmit()">Login</button>
                        <!-- <button class="btn btn-submit" ui-sref="home" ng-click="loginsubmit()">Login</button> -->
                    </div>
                </div>
                <!-- <div class="card">
                    <div class="item item-text-wrap">
                        <div class="list border-bottom-custom">
                            <label class="item item-input">
                                <i class="icon ion-ios-person placeholder-icon"></i>
                                <input type="email" placeholder="Email">
                            </label>
                        </div>
                        <div class="list border-bottom-custom margin-bottom-20">
                            <label class="item item-input">
                                <i class="icon ion-ios-unlocked placeholder-icon"></i>
                                <input type="password" placeholder="Password">
                            </label>
                        </div>
                    </div>
                    <div class="item item-divider no-padding">
                        <button class="button button-full button-dark" ui-sref="home">
                            Login
                        </button>
                    </div>
                </div>
 -->
            </div>
        </div>

    </ion-content>
</ion-view>