<ion-view view-title="Login" align-title="left">
    <ion-content>

        <div class="login-wrapper">
            <div class="login-form">
                <h1 class="text-center">Login</h1>
                <div class="card">
                    <div class="item item-text-wrap">
                        <div class="list border-bottom-custom">
                            <label class="item item-input">
                                <i class="icon ion-ios-person placeholder-icon"></i>
                                <input type="email" placeholder="Email">
                            </label>
                        </div>
                        <div class="list border-bottom-custom margin-bottom-20">
                            <label class="item item-input">
                                <i class="icon ion-ios-unlocked placeholder-icon"></i>
                                <input type="password" placeholder="Password">
                            </label>
                        </div>
                    </div>
                    <div class="item item-divider no-padding">
                        <button class="button button-full button-dark" ui-sref="home">
                            Login
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>