<ion-modal-view>
    <ion-header-bar class="top-bar">
        <h1 class="title">{{details.name}} <button class = "close-btn icon icon-left ion-ios-close-outline" ng-click = "closeModal()"></button></h1>
    </ion-header-bar>
    <ion-content class="padding">
    	<div class="details">
    		<label>Description</label>
	        <p ng-bind-html="details.description"></p>
    	</div>
    	<div class="details">

    		<label>Task Info</label>
    		<p><strong>Status: </strong><span>Not Started</span></p>
    		<p><strong>Start Date: </strong><span>{{details.startdate}}</span></p>
    		<p><strong>Due Date: </strong><span>{{details.duedate}}</span></p>
    		<!-- <p><strong>Priority: </strong><span>Not Started</span></p> -->
    	</div>
           <button ng-if="is_reached == 1" class = "button button-balanced button-small icon ion-checkmark-round" ng-click="showFields()"></button>

           <button class = "button button-balanced button-small icon ion-refresh" ng-click="checkLocation()"></button>

        <div ng-show="timeStart == 1 ">{{countTime}}</div>
        <button ng-show="timeStart != 1" ng-if="is_reached == 1" class = "button icon icon-left full-width" ng-click="startTime('start', diff)"> <i class="ion-clock"></i> Start Timer</button>
        <button ng-show="timeStart == 1 " ng-if="is_reached == 1" ng-click="startTime('end', 0)" class = "button icon icon-left full-width"> <i class="ion-clock"></i> Stop Timer</button>

        <p ng-if="is_reached == 0">
            Press refresh button when you reach to the location
        </p>
        <div ng-show="showCommpleteTaskFileds == 1">
            <textarea placeholder="Description" ng-model="task.description"></textarea>
            <img ng-src = "{{task.picture}}">
            <button class = "button" ng-click = "takePicture()">Take Picture</button>
            <button class = "button" ng-click = "completeTask()">Submit</button>
        </div>
        <!-- <p>{{picture}}</p> -->

    </ion-content>
</ion-modal-view>