<ion-modal-view>
    <ion-header-bar class="top-bar">
        <h1 class="title">Città della Pieve <button class = "close-btn icon icon-left ion-ios-close-outline" ng-click = "closeModal()"></button></h1>
    </ion-header-bar>
    <ion-content class="padding">
    	<div class="details">
    		<label>Description</label>
	        <p>Colloquio di aggiornamento su contratto e gara imminente fissato ore 09:30 di lun 25/02/2019</p>
    	</div>
    	<div class="details">
    		<label>Task Info</label>
    		<p><strong>Status: </strong><span>Not Started</span></p>
    		<p><strong>Start Date: </strong><span>Not Started</span></p>
    		<p><strong>End Date: </strong><span>Not Started</span></p>
    		<p><strong>Priority: </strong><span>Not Started</span></p>
    	</div>
    	<button class = "button button-balanced button-small icon ion-checkmark-round"></button>
    	<button class = "button icon icon-left button-small ion-clock">Start Timer</button>
    </ion-content>
</ion-modal-view>