<ion-view view-title="Notification" align-title="left">
    <ion-content class="padding">
    	<div class="login-wrapper">
            <div class="login-form">
                <h1 class="screen-title">Notification</h1>
    		</div>
    	</div>
    	<div ng-init="getAllNotification()">
    		<div id="notifications" ng-show="notifications.length > 0" ng-repeat="notification in notifications">
    				    <div class="notification-wrapper" data-notification-id="1056">
    				        <div class="notification-box-all" ng-class="{'unread': notification.isread == 0}" >
    				            <!-- {! notification.profile_image !} -->
    				            <div ng-bind-html="notification.profile_image"></div>
    				            <div class="media-body notification_link" data-link="http://www.sirinetwork.it/isolaCRM/admin/#taskid=853">
    				                <div class="description">{{notification.from_fullname}} - {{ notification.description }}</div><small class="text-muted text-right text-has-action" data-placement="right" data-toggle="tooltip" data-title="2019-05-27 11:25:55" data-original-title="" title="">{{notification.date}}</small><a href="#" class="text-muted pull-right not-mark-as-read-inline notification-profile" onclick="set_notification_read_inline(1056)" data-placement="left" data-toggle="tooltip" data-title="Mark as Read"><small><i class="icon ion-android-radio-button-off" aria-hidden="true"></i></small></a></div>
    				        </div>
    				    </div>
    				</div>
    	</div>
    </ion-content>
</ion-view>