<ion-view view-title="Notification" align-title="left">
    <ion-content class="padding">
    	<div class="login-wrapper">
            <div class="login-form">
                <h1>Notification</h1>
    		</div>
    	</div>
    	<div id="notifications">
		    <div class="notification-wrapper" data-notification-id="1056">
		        <div class="notification-box-all unread">
		            <a href="http://www.sirinetwork.it/isolaCRM/admin/staff/profile/14"><img src="http://www.sirinetwork.it/isolaCRM/uploads/staff_profile_images/14/small_Photo.jpg" class="staff-profile-image-small img-circle pull-left" alt="David  Fanfano"></a>
		            <div class="media-body notification_link" data-link="http://www.sirinetwork.it/isolaCRM/admin/#taskid=853">
		                <div class="description">David Fanfano - New Attachment Added</div><small class="text-muted text-right text-has-action" data-placement="right" data-toggle="tooltip" data-title="2019-05-27 11:25:55" data-original-title="" title="">3 weeks ago</small><a href="#" class="text-muted pull-right not-mark-as-read-inline notification-profile" onclick="set_notification_read_inline(1056)" data-placement="left" data-toggle="tooltip" data-title="Mark as Read"><small><i class="icon ion-android-radio-button-off" aria-hidden="true"></i></small></a></div>
		        </div>
		    </div>
		    <div class="notification-wrapper" data-notification-id="1055">
		        <div class="notification-box-all">
		            <a href="http://www.sirinetwork.it/isolaCRM/admin/staff/profile/14"><img src="http://www.sirinetwork.it/isolaCRM/uploads/staff_profile_images/14/small_Photo.jpg" class="staff-profile-image-small img-circle pull-left" alt="David  Fanfano"></a>
		            <div class="media-body notification_link" data-link="http://www.sirinetwork.it/isolaCRM/admin/#taskid=853">
		                <div class="description">David Fanfano - marked task as complete proper task</div><small class="text-muted text-right text-has-action" data-placement="right" data-toggle="tooltip" data-title="2019-05-27 11:22:34">3 weeks ago</small></div>
		        </div>
		    </div>
		</div>
    </ion-content>
</ion-view>